In [1]:
import numpy as np

In [2]:
import pandas as pd

In [10]:
from numpy.random import randn

In [12]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [8]:
df

          W         X         Y         Z
A  0.867277 -0.461365  0.247408 -0.076089
B -0.638917 -1.765519 -1.722106 -0.840021
C -1.345823  1.038951 -0.605197  0.755360
D -0.166071  0.298915 -1.909880  0.478558
E -0.276675  1.279384 -1.939764  0.403964

In [13]:
df[df['X']<0][['Y','Z']]

          Y         Z
D -0.624929  0.976071

In [19]:
df[(df['W']<6) & (df['Z']>0)]

          W         X         Y         Z
A  1.015422  1.530006  0.872728  1.201068
B -1.101516  0.993579  0.203480  0.207349
D  0.505245 -0.113598 -0.624929  0.976071
E -0.867061  0.233823  0.647622  0.123769

In [28]:
States=['MP','UP','AP','TN','GU']
df['States']=States

In [31]:
#df.set_index('States',inplace=True)

In [32]:
df

               W         X         Y         Z
States
MP      1.015422  1.530006  0.872728  1.201068
UP     -1.101516  0.993579  0.203480  0.207349
AP     -0.334558  0.190982 -2.420368 -0.505208
TN      0.505245 -0.113598 -0.624929  0.976071
GU     -0.867061  0.233823  0.647622  0.123769