In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [8]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [9]:
inside

[1, 2, 3, 1, 2, 3]

In [10]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [14]:
df

             A         B
G1 1  0.819722 -0.691422
   2 -1.468506 -1.158615
   3 -0.538330  0.981262
G2 1  0.315333  0.314570
   2 -0.333250  0.458865
   3 -0.867778  1.717172

In [15]:
df.loc['G1']

          A         B
1  0.819722 -0.691422
2 -1.468506 -1.158615
3 -0.538330  0.981262

In [16]:
df.loc['G1'].loc[1]

A    0.819722
B   -0.691422
Name: 1, dtype: float64

In [18]:
df.index.names=['Grps','nums']

In [19]:
df

                  A         B
Grps nums
G1   1     0.819722 -0.691422
     2    -1.468506 -1.158615
     3    -0.538330  0.981262
G2   1     0.315333  0.314570
     2    -0.333250  0.458865
     3    -0.867778  1.717172

In [20]:
df.loc['G2'].loc[2]['A']

-0.3332503704456465

In [21]:
df.xs('G1')

             A         B
nums
1     0.819722 -0.691422
2    -1.468506 -1.158615
3    -0.538330  0.981262

In [ ]:
df.xs