In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("G://chrome downloads/code_pandas1/examples/ex1.csv")

In [5]:
df.head(4)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
df1=pd.read_table("G://chrome downloads/code_pandas1\/examples/test.tsv")

In [7]:
df1.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [9]:
df2=pd.read_table("G:/chrome downloads/code_pandas1/examples/ex1.csv",sep=',')

In [10]:
df2.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
df3=pd.read_csv("G://chrome downloads/code_pandas1/examples/ex2.csv",header=None)

In [12]:
df3.head()

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [13]:
df4=pd.read_csv("G://chrome downloads/code_pandas1/examples/ex2.csv",names=['a','b','c','d','e','f','g','h'])

In [14]:
df4.head()

   a   b   c   d      e   f   g   h
0  1   2   3   4  hello NaN NaN NaN
1  5   6   7   8  world NaN NaN NaN
2  9  10  11  12    foo NaN NaN NaN

In [19]:
df5=pd.read_csv("G://chrome downloads/code_pandas1/examples/csv_mindex.csv")
df5

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16