In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [6]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [8]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [10]:
type(df['W'])

pandas.core.series.Series

In [11]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [12]:
df['X']

A    1.693723
B    0.390528
C    0.072960
D   -0.754070
E    1.901755
Name: X, dtype: float64

In [13]:
df[['W',"Z"]]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [15]:
df['NEW']=df['W']+4

In [16]:
df

          W         X         Y         Z       NEW
A  0.302665  1.693723 -1.706086 -1.159119  4.302665
B -0.134841  0.390528  0.166905  0.184502  3.865159
C  0.807706  0.072960  0.638787  0.329646  4.807706
D -0.497104 -0.754070 -0.943406  0.484752  3.502896
E -0.116773  1.901755  0.238127  1.996652  3.883227

In [20]:
df

          W         X         Y         Z       NEW
A  0.302665  1.693723 -1.706086 -1.159119  4.302665
B -0.134841  0.390528  0.166905  0.184502  3.865159
C  0.807706  0.072960  0.638787  0.329646  4.807706
D -0.497104 -0.754070 -0.943406  0.484752  3.502896
E -0.116773  1.901755  0.238127  1.996652  3.883227

In [24]:
df.drop('X',axis=1,inplace=True)

In [25]:
df

          W         Y         Z       NEW
A  0.302665 -1.706086 -1.159119  4.302665
B -0.134841  0.166905  0.184502  3.865159
C  0.807706  0.638787  0.329646  4.807706
D -0.497104 -0.943406  0.484752  3.502896
E -0.116773  0.238127  1.996652  3.883227

In [26]:
df.shape

(5, 4)

In [27]:
df.loc['A'] #acess rows

W      0.302665
Y     -1.706086
Z     -1.159119
NEW    4.302665
Name: A, dtype: float64

In [28]:
df.iloc[2] #acess rows by number

W      0.807706
Y      0.638787
Z      0.329646
NEW    4.807706
Name: C, dtype: float64

In [30]:
df.loc['B','Z'] #acess rows and columns

0.18450185928224264

In [32]:
df.loc[['A',"B"],['W','Y']] #acess rows and columns

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905