In [39]:
import numpy as np
from numpy.random import randn

In [40]:
import pandas as pd

In [41]:
m=np.random.randn(9)

In [42]:
m

array([ 0.70702273, -1.95911731, -1.92222278, -0.16606112, -1.16926437,
       -0.15219822, -0.48097616, -0.33945772, -1.60359558])

In [44]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [46]:
df

          W         X         Y         Z
A  0.022830 -1.242376 -0.796110 -2.309484
B  0.862270 -0.651790 -3.045452  0.518118
C -0.318437 -1.135088 -1.903271  0.706396
D -0.009121 -1.195438 -0.170468  0.028829
E -1.314983 -1.462674 -0.006917  1.313705

In [60]:
df[df['X']<1]['Z']

A    0.092474
B    0.120769
C    0.435565
D    1.340857
E   -0.544633
Name: Z, dtype: float64

In [49]:
df>0

       W      X      Y      Z
A  False   True   True   True
B  False   True   True   True
C   True  False  False   True
D   True  False   True   True
E  False   True   True  False

In [50]:
df<0

       W      X      Y      Z
A   True  False  False  False
B   True  False  False  False
C  False   True   True  False
D  False   True  False  False
E   True  False  False   True

In [51]:
df['W']<0

A     True
B     True
C    False
D    False
E     True
Name: W, dtype: bool

In [52]:
df[df<0]

          W         X         Y         Z
A -0.361673       NaN       NaN       NaN
B -1.141329       NaN       NaN       NaN
C       NaN -0.274992 -0.651842       NaN
D       NaN -0.686185       NaN       NaN
E -0.858328       NaN       NaN -0.544633

In [56]:
df[df['W']<0]

          W         X         Y         Z
A -0.361673  0.666123  0.604834  0.092474
B -1.141329  0.615758  2.194602  0.120769
E -0.858328  0.056036  0.095122 -0.544633

In [58]:
df[df['W']>0]["X"]

C   -0.274992
D   -0.686185
Name: X, dtype: float64