In [1]:
l=[5,6,7,4,5,6,'Jatin','yadav']

In [2]:
len(l)

8

In [4]:
for i in range(len(l)):
    
    print(l[i])

5
6
7
4
5
6
Jatin
yadav

In [5]:
input()

45

'45'

In [7]:
int(input())

545468

545468

In [8]:
type(input())

kljlkj

str

In [9]:
"jatin"+str(1997)

'jatin1997'

In [10]:
"jatin's"

"jatin's"

In [11]:
"""jhfgjfdhkjhdfkjg
nkgfjhgkjfdnk
bgdfkjgbjkfdbgkj
kjfdbgjkfdj
gnkjgbfkdjg
nhjkjkfd"""

'jhfgjfdhkjhdfkjg\nnkgfjhgkjfdnk\nbgdfkjgbjkfdbgkj\nkjfdbgjkfdj\ngnkjgbfkdjg\nnhjkjkfd'

In [12]:
name="jatin yadav"

In [13]:
name

'jatin yadav'

In [14]:
name.upper()

'JATIN YADAV'

In [15]:
name

'jatin yadav'

In [16]:
n="JATIN"

In [17]:
n

'JATIN'

In [18]:
n.lower()

'jatin'

In [19]:
s='jatin yadav s/o shri Brijlal yadav r/o village chaukhada chhatarpur madhya pradesh'

In [20]:
s

'jatin yadav s/o shri Brijlal yadav r/o village chaukhada chhatarpur madhya pradesh'

In [21]:
s.split('i')

['jat',
 'n yadav s/o shr',
 ' Br',
 'jlal yadav r/o v',
 'llage chaukhada chhatarpur madhya pradesh']

In [25]:
"My name is {} and my age is {} years".format('Jatin',23)

'My name is Jatin and my age is 23 years'

In [26]:
s="hello friends"

In [27]:
s

'hello friends'

In [28]:
s.find('s')

12

In [29]:
s.find('h')

0

In [34]:
str='llklfdshkjdskgfdsklllkdsbhfjhbjkdsgldgkjskjdskjl'

In [35]:
l=[]
l1=[]
for i in range(len(str)):
    if str[i]=='l':
        l.append(i)
        l1.append(str[i])
print(l,l1,sep='\n')

[0, 1, 3, 18, 19, 20, 35, 47]
['l', 'l', 'l', 'l', 'l', 'l', 'l', 'l']

In [36]:
s="jatin"
s

'jatin'

In [39]:
s.center(10,'y')

'yyjatinyyy'

In [46]:
'hello\tworld'.expandtabs()
y='hello'

In [47]:
y.istitle()

False

In [48]:
y.isalpha()

True

In [49]:
y.isnumeric()

False

In [50]:
y.islower()

True

In [51]:
y.isupper()

False

In [57]:
"YADAV"*6

'YADAVYADAVYADAVYADAVYADAVYADAV'

In [60]:
list=[1,2,3,5,3,3,'Jatin','yadav']

In [61]:
list

[1, 2, 3, 5, 3, 3, 'Jatin', 'yadav']

In [63]:
list.append("gwalior")

In [65]:
list

[1, 2, 3, 5, 3, 3, 'Jatin', 'yadav', 'gwalior']

In [66]:
list.insert(2,1997)

In [67]:
list

[1, 2, 1997, 3, 5, 3, 3, 'Jatin', 'yadav', 'gwalior']

In [69]:
list.insert(0,'india')

In [70]:
list

['india', 1, 2, 1997, 3, 5, 3, 3, 'Jatin', 'yadav', 'gwalior']

In [71]:
list.pop()

'gwalior'

In [72]:
list.pop()

'yadav'

In [96]:
l=[3,3,2,5,2,'jatin','yadav']

In [104]:
l

['yadav', 'jatin', 2, 5, 2, 3, 3]

In [105]:
l[::-1]

[3, 3, 2, 5, 2, 'jatin', 'yadav']

In [106]:
l.reverse()

In [107]:
l

[3, 3, 2, 5, 2, 'jatin', 'yadav']

In [108]:
l

[3, 3, 2, 5, 2, 'jatin', 'yadav']

In [109]:
l.reverse()

In [110]:
l

['yadav', 'jatin', 2, 5, 2, 3, 3]

In [115]:
l.remove('yadav')

In [116]:
l

['jatin', 2, 5, 2, 3, 3]

In [119]:
l.remove('jatin')

In [120]:
l

[2, 5, 2, 3, 3]

In [121]:
l.sort()

In [122]:
l

[2, 2, 3, 3, 5]

In [123]:
l1=[2,2,3,232,2]
l2=[6,3,6,3,6,3]
l3=[3,5,3,2,2,9]

In [124]:
l=[l1,l2,l3]

In [125]:
l

[[2, 2, 3, 232, 2], [6, 3, 6, 3, 6, 3], [3, 5, 3, 2, 2, 9]]

In [131]:
[i[2] for i in l]

[3, 6, 3]

In [132]:
l=[2,3,63,3454,4533434,45544,45,54]

In [133]:
l

[2, 3, 63, 3454, 4533434, 45544, 45, 54]

In [136]:
while 2 in l:
    l.remove(1)

In [137]:
l

[3, 63, 3454, 4533434, 45544, 45, 54]